:root {
  --sl-color-primary-600: #0366d6;
  --background-color: #fafbfc;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.panel {
  border: 1px solid var(--sl-panel-border-color);
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--sl-panel-background-color);
}

sl-spinner {
  --track-width: 3px;
  --indicator-color: #2188ff;
}

.tweetWrapper {
  position: relative;
}

.tweetWrapper:before,
.tweetWrapper:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1rem;
  pointer-events: none;
}

.tweetWrapper:before {
  top: 0;
  background-image: linear-gradient(var(--background-color), transparent);
}

.tweetWrapper:after {
  bottom: 0;
  background-image: linear-gradient(transparent, var(--background-color));
}