:root {
  --sl-color-primary-600: #0366d6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafbfc; /* TODO find matching color token */
}

.panel {
  border: 1px solid var(--sl-panel-border-color);
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--sl-panel-background-color);
}

sl-spinner {
  --track-width: 3px;
  --indicator-color: #2188ff;
}